* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}


body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #ffd6e8);
  transition: background 0.6s ease;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #ff4d88;
}

img {
  width: 220px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

button {
  padding: 18px 28px;
  font-size: 0.9rem;
  border: 4px solid black;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ff4d88;
  color: white;
  box-shadow: 4px 4px 0px black;
  transition: transform 0.2s ease;
}

button:active {
  box-shadow: 1px 1px 0px black;
  transform: translate(3px, 3px);
}

#noBtn {
  background-color: #bfbfbf;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s infinite;
}


.heart {
  position: fixed;
  width: 12px;
  height: 12px;
  background: pink;
  image-rendering: pixelated;
  animation: floatUp 3s linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.fifth-page h1 {
  font-size: 18px;   /* smaller question text */
}

.fifth-page p {
  font-size: 12px;
}




